<% include partials/header %>

<div class="container">

<header class="jumbotron">
	<div class="container">
	<h1>Welcome to TechMeet</h1>
	<p>Yo will find all types of meetups</p>	
	<p><a class="btn btn-primary btn-large" href="/meetup/new">Add new Meetup</a></p>
	</div>
</header>



<div class="row text-center" style="display:flex; flex-wrap:wrap; ">

<% meetups.forEach(function(meetup){ %>
	<div class="col-md-3 col-sm-6" >
		<div class="thumbnail">
			<img src="<%= meetup.image %>" >               
        	<div class="caption">
				<bold><h3><%= meetup.name  %> </h3></bold>
			</div>
			<!--
			<div class="caption">
				<p><%= meetup.description  %> </p>
			</div>-->
			<p>
				<a href="/meetup/<%=meetup._id %>" class="btn btn-primary">More Info</a>
			</p>
		</div>
	</div>
<%}); %>

</div>
</div>
<br><br><br><br>
<% include partials/footer %>